h1 {
  color: blue;
}
img {
  width: 400px;
}
#thirDiv {
  height: 600px;
  width: 500px;
  background-color: coral;
  padding: 50px;
  border: solid black;
  border-radius: 20px;
}
#spanid {
  font-size: 18px;
  margin: 50px;
}
